/* Здесь будут храниться стили нашего сайта */
body{
	background-color: #dddd;
	margin: 0;
	font-family: 'Roboto';
}
header{
	background-color: #3074f5;
	padding-top: 59px;
	padding-bottom: 22px;
	color: #ffffff;
}
.header-pretitle{
margin-top: 102px;
}
.header-title{
	font-size: 48px;
	font-weight: 700;
	line-height: 46.81px;
	margin-top: 24px;
}
.header-subtitle{
    font-size: 18px;
    margin-top: 20px;
}
.header-button{
    box-shadow: 10px 17px 34px 6px rgba(18, 61, 145, 0.83);
    border-radius: 50px;
    background-color: #ffffff;
    color: #072b6f;
    font-size: 18px;
    font-weight: 700;
    padding: 17px 55px;
    margin-top: 55px;
}
.header-button-block{
    min-width: 210px ;
}
header small{
	font-size: 12px;
	display: block;
	text-align: center;
	margin-top: 9;
}

/* Портфолио*/

.portfolio{ 
background-color: #dddddd; 
padding-top: 44px; 
padding-bottom: 71px; 
padding-left: 160; 
padding-right: 160px; 
} 
.portfolio-block{ 
background-color: #fff; 

} 
.portfolio-title{ 
text-transform: uppercase; 
color: #072b6f; 
font-size: 18px; 
margin-bottom: 10px; 
} 
.portfolio-subtitle{ 
margin-top: 10px; 
margin-bottom: 30px;
color: #7bb9ff; 
font-size: 14px; 
} 
.portfolio-title,.portfolio-subtitle{ 
text-align: center; 
} 
.portfolio-col-1{ 
padding-left: 50px; 
} 
.portfolio-col-2{ 
padding-right: 50px; 
}
.portfolio-block h3{
color: #072b6f;
font-size: 18px;
font-weight: 700;
text-transform: uppercase;
}
.portfolio-text {
color: #8f8f8f;
font-size: 14px;
font-weight: 400;
}
.portfolio-block a{
color: #072b6f;
font-size: 14px;
font-weight: 400;
text-decoration: underline;
}
/* Подвал*/

footer{
	background-color: #3074f5;
	color: #fff;
	padding-top: 60px;
	padding-bottom: 110px;
}
.footer-author{
	font-size: 24px;
	font-weight: 700;
}
.footer-text{
	font-size: 18px;
	font-weight: 400;
}
.social-block{
	text-align: center;
}
.social-block a{
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}
.footer-cta-block{
	text-align: center;
}
.footer-cta{
	margin-bottom: 13px;
}
.footer-button{
	display: inline-block;
	border: 1px solid #ffffff;
	background-color: transparent;
	color: #fff;
	font-size: 18px;
	border-radius: 50px;
	padding: 15px 40px;
}
@media (max-width: 1200px){
.header-pretitle{
margin-top: 60px;}
}
@media(max-width: 992px){
	.header-img{
		display: none;
	}
	.header-pretitle{
margin-top: 10px;}
}
@media(min-width: 750px;){
	.portfolio-col-1{
		padding-left: 20px;
		padding-right: 20px;
		margin-bottom: 40px;
	}
	.portfolio-col-2{
		padding-left: 20px;
		padding-right: 20px;
}